{% extends 'base.html' %}
{% block title %}Home | Asingo Paul{% endblock %}
{% block content %}
<section>
  <h2>About Me</h2>
  <p>
     Cloud Computing professional with a strong background in cloud technologies, DevOps practices, and 
passionate about building scalable, secure cloud-based solutions. Adapts at automating cloud 
infrastructure, implementing security measures, and utilizing best practices in cloud computing. 
Passionate about delivering high-quality, cost-effective solutions with a focus on scalability and 
security. 
  </p>
</section>
<section>
  <h2>Technical Skills</h2>
  <ul>
    <li><strong>Cloud:</strong> AWS, GCP, OpenStack</li>
    <li><strong>DevOps:</strong> Docker, Kubernetes, Jenkins, Terraform</li>
    <li><strong>Programming:</strong> Python (Flask, Boto3)</li>
  </ul>
</section>
<section>
  <h2>Resume</h2>
  <a class="button" href="{{ url_for('static', filename='files/MY_CV.pdf') }}" target="_blank">📄 View CV</a>
  <a class="button" href="{{ url_for('static', filename='files/MY_CV.pdf') }}" download>⬇️ Download CV</a>
</section>
{% endblock %}
